version: "3.8"
services:
  sensor-service:
    build: .
    ports:
      - "8000:8000"
    networks:
      - monitoring
    restart: always

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-lifecycle"
      - "--storage.tsdb.retention.time=48h"
      - "--storage.tsdb.path=/prometheus"
    networks:
      - monitoring
    restart: always

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    networks:
      - monitoring
    restart: always

networks:
  monitoring: